# Database Configuration
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
POSTGRES_DB=mikrotech_v3
POSTGRES_PORT=5432

# Redis Configuration
REDIS_PORT=6379

# Lavalink Configuration
LAVALINK_PORT=2333
LAVALINK_PASSWORD=youshallnotpass

# Discord Application
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# Application Settings
NODE_ENV=development
API_PORT=3000
FRONTEND_PORT=3001
FRONTEND_URL=http://localhost:3001
SESSION_SECRET=change_me_to_a_long_random_string
CALLBACK_URL=http://localhost:3000/auth/discord/callback
